#projects,
.projects-section {
  display: flex;
  flex-direction: column;
  height: 2000px;
  justify-content: center;
}

#projects {
  align-items: center;
  background-color: #475dd7;

  .projects-section {
    .section-header {
      margin-bottom: 30px;
    }

    .project-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .arrow-down {
    border-top: 40px solid #475dd7;
  }
}

@media only screen and (max-width: 1100px) {
  #projects,
  .projects-section {
    height: 2700px;
  }

  #projects {
    .projects-section {
      .project-cards {
        flex-direction: column;
      }
    }
  }
}
