.App {
  background-color: #ffcccc;
  color: #000;
  font-family: "Roboto Slab", serif;
  text-align: center;

  .section-header {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 50px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-bottom: -40px;
  }

  .ant-card {
    background-color: #ffe5e5;
    border-color: #efd8d8;

    input,
    textarea {
      background-color: #ffeeee !important;
      border: 2px solid #efd8d8 !important;
    }

    .ant-card-head {
      border-bottom: 2px solid #efd8d8;
    }
  }
}
